gensim==3.4.0
gmpy2==2.0.8
ipython==5.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
lda==1.0.5
matplotlib==2.2.2
nltk==3.2.5
notebook==5.4.1
numpy==1.14.2
openpyxl==2.5.2
pandas==0.22.0
Pattern==2.6
pyLDAvis==2.1.1
Pyphen==0.9.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
tmtoolkit==0.6.2
